@media (max-width: 2230px)
{
    .section-heading .uhd {
        display: none;
    }

}
@media (max-width: 1560px)
{
    .chart-view{
        margin: 0 1vw;
    }
    .section-heading {
        grid-column-gap: 20px;
    }
    .card-list {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

}
@media (max-width: 1338px) {
    .section-heading{
        grid-template-columns: 1fr 0 1fr;
        color: aqua;
      }
    
}

